{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container py-5 text-center">
        <h1>Bienvenue sur le blog Symfony !</h1>
        <p class="lead">Explorez nos derniers articles et partagez vos commentaires.</p>

        <a href="{{ path('app_article_index') }}" class="btn btn-primary mt-4">
            <i class="bi bi-journal-text"></i> Voir les articles
        </a>
    </div>
{% endblock %}
