### Environnement Symfony ###
/.env.local
/.env.*.local
/.env.local.php

/config/secrets/prod/prod.decrypt.private.php

/var/
/vendor/
/public/bundles/

### PHPUnit ###
/phpunit.xml
.phpunit.result.cache

### Asset Mapper ###
/public/assets/
/assets/vendor/

### Webpack Encore ###
/node_modules/
npm-debug.log
yarn-error.log
/public/build/

### npm ###
/package-lock.json
