<div class="container mt-4">
    {{ form_start(form, {
        'attr': {
            'class': 'needs-validation',
            'novalidate': 'novalidate',
            'id': 'form-id'
        }
    }) }}
        <div class="mb-3">
            {{ form_row(form.title) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.description) }}
        </div>
    {{ form_end(form) }}
</div>
