<form method="post" action="{{ path('app_article_delete', {'id': article.id}) }}" class="d-inline" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
    <button class="btn btn-outline-danger">
        <i class="bi bi-trash"></i> Supprimer
    </button>
</form>
